.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 64px;
  height: 64px;
  background-color: #800000;
  color: white;
  border-radius: 50%;
  font-size: 50px;
  box-shadow: 2px 2px 5px 1px rgba(51, 50, 50, 0.75);
  cursor: pointer;
  transform: rotate(0);
  transition: ease .3s;
  z-index: 2;
}
.button:hover{
  transform: rotate(180deg);
}