body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-image: url("./imagenes/toDoList.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}