.titles{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 36px;
  font-weight: 700;

}
h2{
  font-size: 24px;
  text-align: center;
}

.section-title{
  width: auto;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  padding: 40px 20px;
}

.div-img {
  position: relative;
  right: 20px;
}
.div-img img {
  width: auto;
  height: 15vh;
}
